test-models.ipynb
test-custom-corpora.ipynb
Training Postings.xlsx
data-today.csv
Locations.txt
webdata.txt
__pycache__
.ipynb_checkpoints
job-desired-locations.txt
archive
message.txt
contact-list.txt
test.py
Job Postings*.xlsx